.navigation {
    display: flex;
    list-style: none;
    flex-direction: row;
    margin: 0;
    padding: 0;

    .nav-item {
        background-color: transparent;

        &:hover {
            background-color: #efefef;
        }

        .nav-link {
            padding: .5rem 1rem;
            color: #333;
        }
    }
}
